body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_heading {
    color: #000;
    text-align: center;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.3px;
}

.header {
    position: relative;
}

.header .header_backgrounds {
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.heading {
    max-width: 390px;
}

.heading h1 {
    color: #FFF;
    text-shadow: 0px 0px 6.749px rgba(0, 0, 0, 0.15);
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    font-family: 'canela web';
    letter-spacing: 0.42px;
}

.header .heading p {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.14px;
    position: relative;
    margin-top: 2rem;
}

.header .heading p span {
    position: absolute;
    top: 1.4rem;
    left: 2.7rem;
}

.header .heading .shop-button button {
    padding: 16px 0px;
    border-radius: 100px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.22px;
    margin-top: 2rem;
}

.header .heading .star-content {
    margin-top: 2rem;
}

.swiper-section {
    overflow: hidden;
}

.swiper-section .swiper {
    overflow: unset;
}

.swiper-section .swiper .slider_img .slider-content p {
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 11.016px;
    letter-spacing: 0.08px;
    color: #000;
    text-align: center;
}

@media screen and (max-width: 576px) {
    .heading {
        max-width: 330px;
    }

    .header_heading {
        color: #000;
        text-align: center;
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.3px;
    }

    .heading h1 {
        font-size: 34px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0.34px;
        padding: 0;
    }

    .header .header_backgrounds {
        align-items: end !important;
        display: flex !important;
    }
}


@media screen and (max-width: 1024px) {
    .header .header_backgrounds .heading {
       padding-top: 1rem;
    }
}


@media screen and (max-width: 992px) {

    .header .header_backgrounds {
        display: block;
    }

    .heading h1 {
        color: #FFF;
        text-shadow: 0px 0px 6.749px rgba(0, 0, 0, 0.15);
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 35px;
        font-family: 'canela web';
        letter-spacing: 0.42px;
    }

    .header .heading p {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: 0.14px;
        position: relative;
        margin-top: 0;
    }

    .header .heading .shop-button button {
        padding: 8px 30px;
        border-radius: 100px;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        /* width: 100%; */
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0.22px;
        margin-top: 0rem;
    }
}

@media screen and (max-width: 1024px) {
    .mob-padding {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
}