@font-face {
    font-family: header_heading;
    src: url(../font/canela_fonts/Canela-Medium.woff);
}

@font-face {
    font-family: top_text;
    src: url(../font/poppins/Poppins-Light.woff);
}

@font-face {
    font-family: btn_text;
    src: url(../font/poppins/Poppins-SemiBold.woff);
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_heading {
    color: #000;
    text-align: center;
    font-family: 'top_text';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.3px;
}

.header {
    position: relative;
}

.header .header_backgrounds {
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.heading {
    max-width: 390px;
}

.heading h1 {
    color: #FFF;
    text-shadow: 0px 0px 6.749px rgba(0, 0, 0, 0.15);
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    font-family: 'header_heading';
    letter-spacing: 0.42px;
}

.header .heading p {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.14px;
    position: relative;
    margin-top: 2rem;
    font-family: 'top_text';
}

.header .heading p span {
    position: absolute;
    top: 1.4rem;
    left: 2.7rem;
}

.header .heading .shop-button button {
    padding: 16px 0px;
    border-radius: 100px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    font-size: 22px;
    font-style: normal;
    font-family: 'btn_text';
    line-height: 20px;
    letter-spacing: 0.22px;
    margin-top: 2rem;
}

.header .heading .star-content {
    margin-top: 2rem;
}

.swiper-section {
    overflow: hidden;
}

.swiper-section .swiper {
    overflow: unset;
}

.swiper-section .swiper .slider_img .slider-content p {
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 11.016px;
    letter-spacing: 0.08px;
    color: #000;
    text-align: center;
}

@media screen and (max-width: 576px) {
    .heading {
        max-width: 330px;
    }

    .header_heading {
        color: #000;
        text-align: center;
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.3px;
    }

    .heading h1 {
        font-size: 34px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0.34px;
        padding: 0;
    }

    .header .header_backgrounds {
        align-items: end !important;
        display: flex !important;
    }
}


@media screen and (max-width: 1024px) {
    .header .header_backgrounds .heading {
        padding-top: 1rem;
    }

    .mob-padding {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
}


@media screen and (max-width: 992px) {

    .header .header_backgrounds {
        display: block;
    }

    .heading h1 {
        color: #FFF;
        text-shadow: 0px 0px 6.749px rgba(0, 0, 0, 0.15);
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 35px;
        font-family: 'canela web';
        letter-spacing: 0.42px;
    }

    .header .heading p {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: 0.14px;
        position: relative;
        margin-top: 0;
    }

    .header .heading .shop-button button {
        padding: 8px 30px;
        border-radius: 100px;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0.22px;
        margin-top: 0rem;
    }
}

/* --------------------- logo-swiper start ----------------------------- */
.logo-swiper {
    background: #FFFAF0;
    padding: 40px 0px;
}

.logo-swiper .logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-swiper .logos .logo_img p {
    color: #C2BCB1;
    font-family: 'top_text';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1px;
}

.logo-swiper .mob_logos .logo_img p {
    color: #C2BCB1;
    font-family: 'top_text';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1px;
}

.vogue_list {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 20px;
}

@media screen and (max-width: 1024px) {
    .logo_img img {
        margin-bottom: 10px;
    }

    .logo-swiper .logos {
        gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .logo-swiper {
        background: #FFFAF0;
        padding: 20px 0px;
    }

}

/* --------------------- logo-swiper end ----------------------------- */


/* video section start */
.video_sec {
    padding-top: 70px;
}

.video_sec .qure_img {
    position: relative;
}

.video_sec .qure_img .video_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video_sec .qure_img .video_content h2 {
    color: var(--White, #FFF);
    text-align: center;
    font-family: 'header_heading';
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0.3px;
}

.video_sec .qure_img .video_content .video_pause {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    margin-top: 24px;
}

.video_sec .qure_img .video_content .video_pause span {
    color: var(--White, #FFF);
    text-align: center;
    font-family: 'top_text';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
    .video_sec .qure_img .img-fluid {
        width: 100% !important;
    }

    .video_sec .qure_img .video_content h2 {
        font-size: 35px;
        font-weight: 300;
        letter-spacing: 0.4px;
    }

    .video_sec .qure_img .video_content .video_pause {
        margin-top: 15px;
    }
}


/* video section end */

/* collapse card start */
.collpase_card {
    padding-top: 70px;
}

.collpase_card .card {
    border: 0;
}

.collpase_card .card .card-body .accordion .accordion-item {
    border: 0;
}

.collpase_card .card .card-body .accordion .accordion-item .accordion-header .accordion-button {
    color: #000;
    font-family: 'top_text';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.14px;
    padding: 0;
}

.collpase_card .card .card-body .accordion .accordion-item .accordion-header .accordion-collapse {
    color: #000;
    font-family: 'top_text';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.13px;
}

.collpase_card .card .card-body .accordion .accordion-body {
    padding: 1rem 0px !important;
}

.collpase_card .card .card-body .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: var(--bs-accordion-inner-border-radius);
    border-top-right-radius: var(--bs-accordion-inner-border-radius);
    background: transparent;
    border: 0;
}

.collpase_card .card .card-body .accordion-button:focus {
    z-index: 3;
    border-color: var(--bs-accordion-btn-focus-border-color);
    outline: 0;
    box-shadow: none;
}

.collpase_card .card .card-body .accordion-button:not(.collapsed) {
    color: #000;
    box-shadow: none;
}

.collpase_card .card .card-body .accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
    transform: var(--bs-accordion-btn-icon-transform);
}

/* collapse card end */